# Spotify Client Credentials
# Create a free app at https://developer.spotify.com/dashboard
# Works with any Spotify account (free, premium, family)
VITE_SPOTIFY_CLIENT_ID=acb969a9d9a041b58d333b34a345b463
VITE_SPOTIFY_CLIENT_SECRET=5588834c5d354362809b10cbf8f866dc
